{% extends "base.html" %}

{% block content %}
    <div class="row g-5">
        <div class="col-md-2"></div>
        
        <div class="col-md-{% if book %}7{% else %}8{% endif %}">
            <div class="container font_size">
                {% if form %}
                    <form method="post" enctype=multipart/form-data>
                        {{ form.hidden_tag() }}
                {% endif %}
                    <div class="rounded border border-secondary-subtle">
                        <div class="m-4">
                            <div class="row my-4 mx-0">
                                {% block book_jacket %}{% endblock %}

                                {% block book_name %}{% endblock %}

                                {% block book_author %}{% endblock %}
                            </div>

                            {% block book_genres %}{% endblock %}

                            {% block book_intro %}{% endblock %}
                        </div>
                    
                    {% if book %}
                        </div>
                    {% endif %}

                    {% block book_text %}{% endblock %}
                    
                    {% if not book %}
                        </div>
                    {% endif %}

                {% if form %}
                    </form>
                {% endif %}
            </div>

            {% block pages_switch_buttons %}{% endblock %}
        </div>

        <div {% if book %}class="col-md-1"{% endif %}>
            <div class="position-sticky rounded bg-secondary bg-gradient" style="top: 2rem;"><center>
                {% block font_size_change %}{% endblock %}
            </center></div>
        </div>

        <div class="col-md-2"></div>
    </div>
    <br><br>
{% endblock %}
