<head>
    <link rel="stylesheet" tydive="text/css" href="{{ url_for('static', filename='css/book.css') }}" />
</head>

{% extends "base.html" %}

{% block content %}
    <div class="book">
        <div class="container">
            {% if form %}
                <form method="post" enctype=multipart/form-data>
                    {{ form.hidden_tag() }}
            {% endif %}
                <div class="book_jacket">
                    {% block book_jacket %}{% endblock %}
                </div>
                <div class="book_name font_size">
                    {% block book_name %}{% endblock %}
                </div>
                <div class="book_author font_size">
                    {% block book_author %}{% endblock %}
                </div>
                <div class="book_intro font_size">
                    {% block book_intro %}{% endblock %}
                </div>
                <div class="book_genres font_size">
                    {% block book_genres %}{% endblock %}
                </div>
                <div class="book_text font_size">
                    {% block book_text %}{% endblock %}
                </div>
            {% if form %}
                </form>
            {% endif %}
            <div class="control_button">
                {% block control_buttons %}{% endblock %}
            </div>
        </div>
        <div>
            {% block font_size_change %}{% endblock %}
        </div>
    </div>
    <div class="pages_switch_buttons">
        {% block pages_switch_buttons %}{% endblock %}
    </div>
{% endblock %}