<head>
    <script type="text/javascript">
        var current_page = Number("{{ book['page'] }}")
        var pages = {{ book['text']|tojson }}
        var book_len = Number("{{ book['book_len'] }}")
        var login_user = params['login_user']
     </script>
         <script>
            for (let i = 1; i <= current_page; i++) {
                forward()
            }
        </script>
</head>

{% extends "book.html" %}

{% block book_jacket %}
    <div class="col">
        <center><img src="{{ book['img'] }}"></center>
    </div>
{% endblock %}

{% block book_name %}
    <div class="col">
        <h1>{{ book['name'] }}</h1>
{% endblock %}

{% block book_author %}
        <p>{{ book['author'] }}</p>
        <p>Опубликовал: {{ book['owner'] }}</p>
    </div>
{% endblock %}

{% block book_genres %}
    <div>
        {% for genre in book['genres'] %}
            <p class="rounded bg-secondary bg-gradient px-2 text-white" style="display:inline-block">{{ genre }}</p>
        {% endfor %}
    </div>
{% endblock %}

{% block book_intro %}
    <p>{{ book['intro']}}</p>
{% endblock %}

{% block book_text %}
    <p id="text">{{ book['text'][book['page']] }}</p>
{% endblock %}

{% block font_size_change %}
    {% if params['login_user'] %}
        {% if book['in_users_favorite_books'] %}
            <a id="add_book_{{ book['id'] }}" class="btn btn-lg btn-dark my-2" href="javascript:edit_users_books('{{ book['id'] }}')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                </svg>
            </a>
        
        {% else %}
            <a id="add_book_{{ book['id'] }}" class="btn btn-lg btn-dark my-2" href="javascript:edit_users_books('{{ book['id'] }}')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                </svg>
            </a>
        {% endif %}
    {% endif %}

    <div>
        <input type="range" style="writing-mode: vertical-lr; direction: rtl" id="set_font" name="font" min="1" max="11" step="1" value="6" oninput="set_font_size(value)">
        <label for="set_font" class="text-white">Размер шрифта</label><br>
    </div>
{% endblock %}

{% block pages_switch_buttons %}
    <ul class="nav me-lg-auto mb-2 justify-content-center mb-md-0">
        <li id="back" class="px-2">
            {% if book['page'] != 0 %}
                <button onclick="back()" class="btn btn-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                    </svg>
                </button> 
            {% endif %}
        </li>
        <li id="page_number" class="px-2">
            <p>{{ book['page'] + 1}}</p>
        </li>
        <li id="forward" class="px-2">
            {% if book['page'] != book['book_len'] - 1 %}
                <button onclick="forward()" class="btn btn-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                    </svg>
                </button> 
            {% endif %}
        </li>
    </ul>
        
    <center><div id="end_book">
        {% if params['login_user'] and book['page'] == book['book_len'] - 1 %}
            <a href="{{ url_for('end_book', book_id=book['id']) }}" class="btn btn-lg btn-dark">Закончить</a>
        {% endif %}
    </div></center>

    <script>
        function back() {
            current_page = current_page - 1
            block = document.getElementById("forward");
            block.innerHTML = 
                '<button onclick="forward()" class="btn btn-dark">' +
                    '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">' +
                        '<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>' +
                    '</svg>' +
                '</button>'

            block = document.getElementById("end_book")
            block.innerHTML = ' '

            block = document.getElementById('page_number')
            block.innerHTML = '<p>' + String(current_page + 1) + '</p>'

            block = document.getElementById('text')
            block.innerHTML = '<p>' + pages[current_page] + '</p>'
            if (current_page == 0) {
                block = document.getElementById("back")
                block.innerHTML = ' '
            }
            $.ajax({
                url: '/set_current_page/' + String(current_page),
                method: 'post',
                dataType: 'json',
            })
        }
    </script>
    <script>
        function forward() {
            current_page = current_page + 1
            block = document.getElementById("back");
            block.innerHTML = 
                '<button onclick="back()" class="btn btn-dark">' +
                    '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">' +
                        '<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>' +
                    '</svg>' +
                '</button>'

            block = document.getElementById('page_number')
            block.innerHTML = '<p>' + String(current_page + 1) + '</p>'

            block = document.getElementById('text')
            block.innerHTML = '<p>' + pages[current_page] + '</p>'
            if (current_page == book_len - 1) {
                block = document.getElementById("forward")
                block.innerHTML = ' '

                if (login_user) {
                    block = document.getElementById("end_book")
                    block.innerHTML = "<a href='{{ url_for('end_book', book_id=book['id']) }}' class='btn btn-lg btn-dark'>Закончить</a>"
                }
            }
            $.ajax({
                url: '/set_current_page/' + String(current_page),
                method: 'post',
                dataType: 'json',
            })
        }
    </script>
    <script>
        function set_font_size(value) {
            var ele = document.getElementsByClassName('font_size')
            for (var i = 0; i < ele.length; i++ ) {
                ele[i].style = "font-size: " + String(0.9 ** ((value - 6) * -1)) + "rem";
            }
        }  
    </script>
{% endblock %}
